openapi: 3.1.0
info:
  title: SOLO Network API
  version: v1
servers:
- url: https://api.solo.one
  description: Production
- url: https://api.sandbox.solo.one
  description: Sandbox
paths:
  /v1/consent/business_identity:
    post:
      tags:
      - Business Identity
      summary: Create a business consent record (direct, server-to-server). Returns
        a consent_id used for all subsequent queries.
      description: Create a business consent record (direct, server-to-server). Returns
        a consent_id used for all subsequent queries.
      operationId: consent_business_identity_create_v1_consent_business_identity_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConsentBusinessIdentityCreateInput'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsentBusinessIdentityCreateOutput'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /v1/consent/consumer_identity:
    post:
      tags:
      - Consumer Identity
      summary: Create a consumer consent record (direct, server-to-server). Returns
        a consent_id used for all subsequent queries.
      description: Create a consumer consent record (direct, server-to-server). Returns
        a consent_id used for all subsequent queries.
      operationId: consent_consumer_identity_create_v1_consent_consumer_identity_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConsentConsumerIdentityCreateInput'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsentConsumerIdentityCreateOutput'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /v1/consent/consumer_identity/{consent_id}:
    get:
      tags:
      - Consumer Identity
      summary: Read a consumer consent record by consent_id.
      description: Read a consumer consent record by consent_id.
      operationId: consent_consumer_identity_read_v1_consent_consumer_identity__consent_id__get
      security:
      - HTTPBearer: []
      parameters:
      - name: consent_id
        in: path
        required: true
        schema:
          type: string
          title: Consent Id
      - name: network_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
          description: Network scope for the consent lookup
          title: Network Id
        description: Network scope for the consent lookup
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsentConsumerIdentityCreateOutput'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    put:
      tags:
      - Consumer Identity
      summary: Update a consumer consent record's scope, expiry, or consented fields.
        Identity fields are immutable.
      description: Update a consumer consent record's scope, expiry, or consented
        fields. Identity fields are immutable.
      operationId: consent_consumer_identity_update_v1_consent_consumer_identity__consent_id__put
      security:
      - HTTPBearer: []
      parameters:
      - name: consent_id
        in: path
        required: true
        schema:
          type: string
          title: Consent Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConsentConsumerIdentityUpdateInput'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsentConsumerIdentityCreateOutput'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/entities/consumer_identity/search:
    get:
      tags:
      - Entities
      summary: Search consumer core identities by name, email, SSN, or date of birth.
      description: "Search consumer core identities using partial or exact field matches.\n\
        \nParameters\n----\n`network_id` : `UUID`.\n    Network scope for the search.\n\
        \n`first_name` : `str`, optional.\n    Case-insensitive partial match on first\
        \ name.\n\n`last_name` : `str`, optional.\n    Case-insensitive partial match\
        \ on last name.\n\n`personal_email` : `str`, optional.\n    Case-insensitive\
        \ partial match on email.\n\n`social_security_number` : `str`, optional.\n\
        \    Exact match on SSN.\n\n`date_of_birth` : `str`, optional.\n    Exact\
        \ match on date of birth (``YYYY-MM-DD``).\n\n`limit` : `int`.\n    Maximum\
        \ number of results (1-100). Defaults to 20.\n\nReturns\n----\n`results` :\
        \ `list[ConsumerIdentitySearchResult]`.\n    Matching consumer core identities.\n\
        \nExamples\n-----\n```\nGET /entities/consumer_identity/search?network_id=...&first_name=John&last_name=Doe&limit=10\n\
        ```"
      operationId: search_consumer_identities_v1_entities_consumer_identity_search_get
      security:
      - HTTPBearer: []
      parameters:
      - name: network_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
          description: Network scope for the search
          title: Network Id
        description: Network scope for the search
      - name: first_name
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Partial match on first name
          title: First Name
        description: Partial match on first name
      - name: last_name
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Partial match on last name
          title: Last Name
        description: Partial match on last name
      - name: personal_email
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Partial match on email
          title: Personal Email
        description: Partial match on email
      - name: social_security_number
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Exact match on SSN
          title: Social Security Number
        description: Exact match on SSN
      - name: date_of_birth
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Exact match on date of birth (YYYY-MM-DD)
          title: Date Of Birth
        description: Exact match on date of birth (YYYY-MM-DD)
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 100
          minimum: 1
          description: Max results
          default: 20
          title: Limit
        description: Max results
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ConsumerIdentitySearchResult'
                title: Response Search Consumer Identities V1 Entities Consumer Identity
                  Search Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/entities/business_identity/search:
    get:
      tags:
      - Entities
      summary: Search business core identities by name, EIN, or email.
      description: "Search business core identities using partial or exact field matches.\n\
        \nParameters\n----\n`network_id` : `UUID`.\n    Network scope for the search.\n\
        \n`business_legal_name` : `str`, optional.\n    Case-insensitive partial match\
        \ on legal name.\n\n`business_dba_name` : `str`, optional.\n    Case-insensitive\
        \ partial match on DBA name.\n\n`business_email` : `str`, optional.\n    Case-insensitive\
        \ partial match on email.\n\n`federal_ein` : `str`, optional.\n    Exact match\
        \ on federal EIN.\n\n`limit` : `int`.\n    Maximum number of results (1-100).\
        \ Defaults to 20.\n\nReturns\n----\n`results` : `list[BusinessIdentitySearchResult]`.\n\
        \    Matching business core identities.\n\nExamples\n-----\n```\nGET /entities/business_identity/search?network_id=...&business_legal_name=Acme&limit=10\n\
        ```"
      operationId: search_business_identities_v1_entities_business_identity_search_get
      security:
      - HTTPBearer: []
      parameters:
      - name: network_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
          description: Network scope for the search
          title: Network Id
        description: Network scope for the search
      - name: business_legal_name
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Partial match on legal name
          title: Business Legal Name
        description: Partial match on legal name
      - name: business_dba_name
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Partial match on DBA name
          title: Business Dba Name
        description: Partial match on DBA name
      - name: business_email
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Partial match on email
          title: Business Email
        description: Partial match on email
      - name: federal_ein
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Exact match on federal EIN
          title: Federal Ein
        description: Exact match on federal EIN
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 100
          minimum: 1
          description: Max results
          default: 20
          title: Limit
        description: Max results
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BusinessIdentitySearchResult'
                title: Response Search Business Identities V1 Entities Business Identity
                  Search Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/institution-attestation-event:
    post:
      tags:
      - Institution Attestation Event
      summary: Create or renew an institution attestation for a product.
      description: "Create a new institution-level attestation scoped to the caller's\
        \ entity and product.\n\nThe attestation is valid for 12 months from the time\
        \ it is created.\nCreating a new attestation does not revoke prior ones; the\
        \ most\nrecently created active attestation for a given product is treated\n\
        as the current one.\n\nParameters\n----------\n`body` : `InstitutionAttestationEventCreateRequest`.\n\
        \    Attestation payload.\n\nReturns\n-------\n`response` : `InstitutionAttestationEventResponse`.\n\
        \    The newly created attestation record."
      operationId: create_institution_attestation_event_v1_institution_attestation_event_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstitutionAttestationEventCreateRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstitutionAttestationEventResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /v1/networks/policies/querying:
    post:
      tags:
      - Querying Policies
      summary: Create a network-wide querying policy.
      description: "Create a new network-wide querying policy.\n\nPer-model and per-field\
        \ selections for the policy \u2014 which may span any\nproduct's models \u2014\
        \ are authored separately via\n``PUT /networks/policies/querying/{policy_id}/configuration``."
      operationId: create_policy_v1_networks_policies_querying_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePolicyInput'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePolicyResult'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /v1/networks/policies/querying/{policy_id}/configuration:
    put:
      tags:
      - Querying Policies
      summary: Save per-field selections onto an existing querying policy.
      description: 'Persist per-field selections onto an existing querying policy.


        Replaces the policy''s per-model and per-field selections with the

        submitted set. The policy is left in ``published`` status.'
      operationId: save_policy_configuration_v1_networks_policies_querying__policy_id__configuration_put
      security:
      - HTTPBearer: []
      parameters:
      - name: policy_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Policy Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SavePolicyConfigurationInput'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SavePolicyConfigurationResult'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/networks/policies/furnishing:
    get:
      tags:
      - Furnishing Policies
      summary: List furnishing policies in a network.
      description: "List furnishing policies visible within a network scope.\n\nResults\
        \ are paginated with ``limit`` (1-100, default 20) and\n``offset`` (>=0, default\
        \ 0).\n\nParameters\n----\n`network_id` : `UUID`.\n    Network scope for the\
        \ listing.\n\n`limit` : `int`.\n    Maximum number of results. Defaults to\
        \ 20.\n\n`offset` : `int`.\n    Number of results to skip. Defaults to 0.\n\
        \nReturns\n----\n`results` : `list[MappingResult]`.\n    Page of matching\
        \ furnishing policies.\n\nExamples\n-----\n```\nGET /networks/policies/furnishing?network_id=...&limit=10\n\
        ```"
      operationId: list_mappings_v1_networks_policies_furnishing_get
      security:
      - HTTPBearer: []
      parameters:
      - name: network_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
          description: Network scope for the listing.
          title: Network Id
        description: Network scope for the listing.
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 100
          minimum: 1
          description: Maximum number of results.
          default: 20
          title: Limit
        description: Maximum number of results.
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          description: Number of results to skip.
          default: 0
          title: Offset
        description: Number of results to skip.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MappingResult'
                title: Response List Mappings V1 Networks Policies Furnishing Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/networks/policies/furnishing/{policy_id}:
    get:
      tags:
      - Furnishing Policies
      summary: Get a furnishing policy by id.
      description: "Fetch a single furnishing policy by id, scoped to a network.\n\
        \nParameters\n----\n`policy_id` : `UUID`.\n    Identifier of the furnishing\
        \ policy to fetch.\n\n`network_id` : `UUID`.\n    Network scope for the lookup.\n\
        \nReturns\n----\n`result` : `MappingResult`.\n    The matching furnishing\
        \ policy.\n\nRaises\n----\n`NotFoundError`.\n    If no furnishing policy with\
        \ the given id is visible within the\n    given network scope.\n\nExamples\n\
        -----\n```\nGET /networks/policies/furnishing/{policy_id}?network_id=...\n\
        ```"
      operationId: get_mapping_v1_networks_policies_furnishing__policy_id__get
      security:
      - HTTPBearer: []
      parameters:
      - name: policy_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Policy Id
      - name: network_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
          description: Network scope for the lookup.
          title: Network Id
        description: Network scope for the lookup.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MappingResult'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/products/kyc_certificate_snapshot/query:
    post:
      tags:
      - KYC Certificate Snapshot
      summary: Query consolidated KYC certificate data for a consumer
      operationId: kyc_certificate_snapshot_query_v1_products_kyc_certificate_snapshot_query_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KYCCertificateSnapshotQueryInput'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KYCCertificateSnapshotQueryOutput'
        '204':
          description: "No certificate could be created \u2014 the available data\
            \ did not satisfy the policy requirements."
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /v1/products/kyc_certificate_snapshot/query/soft:
    post:
      tags:
      - KYC Certificate Snapshot
      summary: Soft check whether a KYC certificate could be issued (non-billable
        dry run)
      operationId: kyc_certificate_snapshot_query_soft_v1_products_kyc_certificate_snapshot_query_soft_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KYCCertificateSnapshotQueryInput'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SoftCheckOutput'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /v1/products/kyc_certificate_snapshot/furnish:
    post:
      tags:
      - KYC Certificate Snapshot
      summary: Furnish KYC certificate data via structured JSON
      operationId: kyc_certificate_snapshot_furnish_v1_products_kyc_certificate_snapshot_furnish_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KYCCertificateSnapshotFurnishInput'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KYCCertificateSnapshotFurnishOutput'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /v1/products/kyb_certificate_snapshot/query:
    post:
      tags:
      - KYB Certificate Snapshot
      summary: Query consolidated KYB certificate data for a business
      operationId: kyb_certificate_snapshot_query_v1_products_kyb_certificate_snapshot_query_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KYBCertificateSnapshotQueryInput'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KYBCertificateSnapshotQueryOutput'
        '204':
          description: "No certificate could be created \u2014 the available data\
            \ did not satisfy the policy requirements."
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /v1/products/kyb_certificate_snapshot/query/soft:
    post:
      tags:
      - KYB Certificate Snapshot
      summary: Soft check whether a KYB certificate could be issued (non-billable
        dry run)
      operationId: kyb_certificate_snapshot_query_soft_v1_products_kyb_certificate_snapshot_query_soft_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KYBCertificateSnapshotQueryInput'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SoftCheckOutput'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /v1/products/kyb_certificate_snapshot/furnish:
    post:
      tags:
      - KYB Certificate Snapshot
      summary: Furnish KYB certificate data via structured JSON
      operationId: kyb_certificate_snapshot_furnish_v1_products_kyb_certificate_snapshot_furnish_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KYBCertificateSnapshotFurnishInput'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KYBCertificateSnapshotFurnishOutput'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /v1/products/bank_specific_bad_actor_list/query:
    post:
      tags:
      - Bank-Specific Bad Actor List
      summary: Query the bank-specific bad actor list for a consumer or business
      operationId: bank_specific_bad_actor_list_query_v1_products_bank_specific_bad_actor_list_query_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BankSpecificBadActorListQueryInput'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankSpecificBadActorListQueryOutput'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /v1/products/cross_bank_financial_crimes_watch_list/query:
    post:
      tags:
      - Cross-Bank Financial Crimes Watch List
      summary: Query the cross-bank financial crimes watch list for a consumer or
        business
      operationId: cross_bank_financial_crimes_watch_list_query_v1_products_cross_bank_financial_crimes_watch_list_query_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CrossBankFinancialCrimesWatchListQueryInput'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CrossBankFinancialCrimesWatchListQueryOutput'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /v1/products/check:
    post:
      tags:
      - Product Coverage Check
      summary: 'Soft check: per-furnisher field coverage for a product and profile'
      operationId: product_coverage_check_v1_products_check_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CoverageCheckInput'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoverageCheckOutput'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /v1/furnishing/mapping/verify:
    post:
      tags:
      - "Furnishing \u2014 Mapping Dry-Run"
      summary: "Dry-run verify a mapping/1 document (S0-S2) \u2014 the save gate's\
        \ verifier, no side effects."
      operationId: mapping_verify_v1_furnishing_mapping_verify_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MappingVerifyRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MappingVerifyResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /v1/furnishing/mapping/trace:
    post:
      tags:
      - "Furnishing \u2014 Mapping Dry-Run"
      summary: "Dry-run trace a mapping over one sample input line \u2014 the value\
        \ at every AST path."
      operationId: mapping_trace_v1_furnishing_mapping_trace_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MappingTraceRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MappingTraceResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /v1/furnishing/mapping/suggest:
    post:
      tags:
      - "Furnishing \u2014 Mapping Dry-Run"
      summary: "AI-suggest a mapping/1 document for one entry \u2014 verified, but\
        \ required fields the source cannot provide stay unmapped (reported via omissions)\
        \ rather than fabricated."
      operationId: mapping_suggest_v1_furnishing_mapping_suggest_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MappingSuggestRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MappingSuggestResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /v1/graph/models:
    get:
      tags:
      - Graph
      summary: Describe every model in the data graph.
      description: "Describe the data graph: each model, its resource path, and its\
        \ fields.\n\nProducts and policies are both projections of this graph, so\
        \ this is the\nground truth either one is defined against. Call it to discover\
        \ which\nresources exist and which relationships can be expanded.\n\nReturns\n\
        ----\n`models` : `GraphModelsResponse`.\n    One entry per model the graph\
        \ serves.\n\nExamples\n-----\n```\nGET /v1/graph/models\n```"
      operationId: list_graph_models_v1_graph_models_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphModelsResponse'
      security:
      - HTTPBearer: []
  /v1/graph/{resource}:
    get:
      tags:
      - Graph
      summary: Read a page of one model's objects.
      description: "Read a page of objects for one graph model.\n\nParameters\n----\n\
        `resource` : `str`.\n    Resource path segment, as reported by ``GET /v1/graph/models``.\n\
        \n`network_id` : `list[UUID]`.\n    Networks to read within. Repeat the parameter\
        \ to widen the scope;\n    omit it to use every network the caller can reach.\n\
        \n`expand` : `str`, optional.\n    Comma-separated relationship names to include\
        \ inline, every field.\n\n`fields` : `list[str]`.\n    Fields to read, comma-separated\
        \ or one per repeated parameter;\n    dotted paths reach through relationships.\
        \ Every scalar of the\n    resource when omitted.\n\n`limit` : `int`.\n  \
        \  Page size (1-100). Defaults to 25.\n\n`offset` : `int`.\n    Rows to skip\
        \ before the page.\n\nReturns\n----\n`page` : `GraphObjectsResponse`.\n  \
        \  The page of objects, with the limit and offset it was read at.\n\nExamples\n\
        -----\n```\nGET /v1/graph/consumer_identities?limit=10&expand=address_identities\n\
        GET /v1/graph/consumer_identities?fields=firstName,address_identities.city\n\
        GET /v1/graph/consumer_identities?fields=firstName&fields=address_identities.city\n\
        ```"
      operationId: list_graph_objects_v1_graph__resource__get
      security:
      - HTTPBearer: []
      parameters:
      - name: resource
        in: path
        required: true
        schema:
          type: string
          description: Resource path from /graph/models, e.g. ``consumer-identities``
          title: Resource
        description: Resource path from /graph/models, e.g. ``consumer-identities``
      - name: network_id
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
          description: Network scope; repeat to widen
          default: []
          title: Network Id
        description: Network scope; repeat to widen
      - name: expand
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Comma-separated relationships to expand
          title: Expand
        description: Comma-separated relationships to expand
      - name: fields
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
          description: Fields to read, comma-separated or one per repeated parameter.
            A dotted path reaches through relationships, e.g. ``firstName,addressIdentities.city``.
            Omit to read every scalar of the resource.
          default: []
          title: Fields
        description: Fields to read, comma-separated or one per repeated parameter.
          A dotted path reaches through relationships, e.g. ``firstName,addressIdentities.city``.
          Omit to read every scalar of the resource.
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 100
          minimum: 1
          description: Page size
          default: 25
          title: Limit
        description: Page size
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          description: Rows to skip
          default: 0
          title: Offset
        description: Rows to skip
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphObjectsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/graph/{resource}/{object_id}:
    get:
      tags:
      - Graph
      summary: Read one graph object by id.
      description: "Read a single graph object by its global id.\n\nModels the graph\
        \ exposes only through a relationship have no collection\nendpoint, but are\
        \ still readable here and expandable from their parent.\n\nParameters\n----\n\
        `resource` : `str`.\n    Resource path segment, as reported by ``GET /v1/graph/models``.\n\
        \n`object_id` : `str`.\n    The object's global id.\n\n`network_id` : `list[UUID]`.\n\
        \    Networks to read within. Repeat the parameter to widen the scope.\n\n\
        `expand` : `str`, optional.\n    Comma-separated relationship names to include\
        \ inline, every field.\n\n`fields` : `list[str]`.\n    Fields to read, comma-separated\
        \ or one per repeated parameter;\n    dotted paths reach through relationships.\
        \ Every scalar of the\n    resource when omitted.\n\nReturns\n----\n`object`\
        \ : `GraphObjectResponse`.\n    The requested object.\n\nExamples\n-----\n\
        ```\nGET /v1/graph/address_identities/QWRkcmVzc09iamVjdDox?expand=addressVerificationEvents\n\
        GET /v1/graph/consumer_identities/Q29uc3VtZXJPYmplY3Q6MQ==?fields=firstName,address_identities.city\n\
        ```"
      operationId: get_graph_object_v1_graph__resource___object_id__get
      security:
      - HTTPBearer: []
      parameters:
      - name: resource
        in: path
        required: true
        schema:
          type: string
          description: Resource path from /graph/models, e.g. ``address-identities``
          title: Resource
        description: Resource path from /graph/models, e.g. ``address-identities``
      - name: object_id
        in: path
        required: true
        schema:
          type: string
          description: Global id of the object
          title: Object Id
        description: Global id of the object
      - name: network_id
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
          description: Network scope; repeat to widen
          default: []
          title: Network Id
        description: Network scope; repeat to widen
      - name: expand
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Comma-separated relationships to expand
          title: Expand
        description: Comma-separated relationships to expand
      - name: fields
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
          description: Fields to read, comma-separated or one per repeated parameter.
            A dotted path reaches through relationships, e.g. ``firstName,addressIdentities.city``.
            Omit to read every scalar of the resource.
          default: []
          title: Fields
        description: Fields to read, comma-separated or one per repeated parameter.
          A dotted path reaches through relationships, e.g. ``firstName,addressIdentities.city``.
          Omit to read every scalar of the resource.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphObjectResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /graphql:
    get:
      summary: Handle Http Get
      operationId: handle_http_get_graphql_get
      responses:
        '200':
          description: The GraphiQL integrated development environment.
          content:
            application/json:
              schema: {}
        '404':
          description: Not found if GraphiQL or query via GET are not enabled.
      security:
      - HTTPBearer: []
    post:
      summary: Handle Http Post
      operationId: handle_http_post_graphql_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      security:
      - HTTPBearer: []
  /graphql/full:
    get:
      summary: Handle Http Get
      operationId: handle_http_get_graphql_full_get
      responses:
        '200':
          description: The GraphiQL integrated development environment.
          content:
            application/json:
              schema: {}
        '404':
          description: Not found if GraphiQL or query via GET are not enabled.
      security:
      - HTTPBearer: []
    post:
      summary: Handle Http Post
      operationId: handle_http_post_graphql_full_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      security:
      - HTTPBearer: []
  /health:
    get:
      summary: Health
      operationId: health_health_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
  /version:
    get:
      summary: Version
      operationId: version_version_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
components:
  schemas:
    AddressCaptureAssertions:
      properties:
        address_capture_assertion:
          type: boolean
          title: Address Capture Assertion
        address_capture_timestamp:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Address Capture Timestamp
      type: object
      required:
      - address_capture_assertion
      title: AddressCaptureAssertions
    AddressCaptureData:
      properties:
        address_category:
          anyOf:
          - type: string
          - type: 'null'
          title: Address Category
      type: object
      title: AddressCaptureData
    AddressCaptureEventInput:
      properties:
        is_address_captured:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Is Address Captured
        address_capture_timestamp:
          anyOf:
          - type: string
          - type: 'null'
          title: Address Capture Timestamp
        is_address_verified:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Is Address Verified
        address_verification_timestamp:
          anyOf:
          - type: string
          - type: 'null'
          title: Address Verification Timestamp
        address_verification_outcome:
          anyOf:
          - type: string
          - type: 'null'
          title: Address Verification Outcome
        address_verification_method_type:
          anyOf:
          - type: string
          - type: 'null'
          title: Address Verification Method Type
        deliverable:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Deliverable
      additionalProperties: true
      type: object
      title: AddressCaptureEventInput
    AddressCaptureSubProduct:
      properties:
        furnishing_entity_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Furnishing Entity Id
        attestation_event_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Attestation Event Id
        assertions:
          $ref: '#/components/schemas/AddressCaptureAssertions'
        data:
          $ref: '#/components/schemas/AddressCaptureData'
      type: object
      required:
      - assertions
      - data
      title: AddressCaptureSubProduct
    AddressIdentityInput:
      properties:
        line_1:
          anyOf:
          - type: string
          - type: 'null'
          title: Line 1
        line_2:
          anyOf:
          - type: string
          - type: 'null'
          title: Line 2
        city:
          anyOf:
          - type: string
          - type: 'null'
          title: City
        state:
          anyOf:
          - type: string
          - type: 'null'
          title: State
        zip:
          anyOf:
          - type: string
          - type: 'null'
          title: Zip
        country:
          anyOf:
          - type: string
          - type: 'null'
          title: Country
        type:
          anyOf:
          - type: string
          - type: 'null'
          title: Type
        address_capture_events:
          anyOf:
          - items:
              $ref: '#/components/schemas/AddressCaptureEventInput'
            type: array
          - type: 'null'
          title: Address Capture Events
      additionalProperties: true
      type: object
      title: AddressIdentityInput
    AddressVerificationAssertions:
      properties:
        address_verification_assertion:
          type: boolean
          title: Address Verification Assertion
        address_verification_timestamp:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Address Verification Timestamp
      type: object
      required:
      - address_verification_assertion
      title: AddressVerificationAssertions
    AddressVerificationData:
      properties:
        address_verification_methods:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Address Verification Methods
        address_verification_outcomes:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Address Verification Outcomes
        total_address_sources_consulted:
          anyOf:
          - type: integer
          - type: 'null'
          title: Total Address Sources Consulted
        address_source_count_full_match:
          anyOf:
          - type: integer
          - type: 'null'
          title: Address Source Count Full Match
        address_source_count_inconclusive:
          anyOf:
          - type: integer
          - type: 'null'
          title: Address Source Count Inconclusive
        address_source_count_no_match:
          anyOf:
          - type: integer
          - type: 'null'
          title: Address Source Count No Match
        address_source_count_partial_match_street_and_city_only:
          anyOf:
          - type: integer
          - type: 'null'
          title: Address Source Count Partial Match Street And City Only
        address_source_count_partial_match_zip_only:
          anyOf:
          - type: integer
          - type: 'null'
          title: Address Source Count Partial Match Zip Only
        address_deliverable:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Address Deliverable
      type: object
      title: AddressVerificationData
    AddressVerificationSubProduct:
      properties:
        furnishing_entity_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Furnishing Entity Id
        attestation_event_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Attestation Event Id
        assertions:
          $ref: '#/components/schemas/AddressVerificationAssertions'
        data:
          $ref: '#/components/schemas/AddressVerificationData'
      type: object
      required:
      - assertions
      - data
      title: AddressVerificationSubProduct
    BackfilledModel:
      properties:
        model_name:
          type: string
          title: Model Name
          description: Graph model a vendor answered for, e.g. ``LivenessCheckEvent``.
        source_id:
          type: string
          format: uuid
          title: Source Id
          description: The vendor source the policy backfills the model from.
      type: object
      required:
      - model_name
      - source_id
      title: BackfilledModel
    BankSpecificBadActorListQueryInput:
      properties:
        policy_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Policy Id
          description: Querying policy applied across every network in network_ids.
            If omitted, each network's default policy is used.
        network_ids:
          items:
            type: string
            format: uuid
          type: array
          minItems: 1
          title: Network Ids
          description: Networks to query across; the single policy is applied to all
            of them.
        furnishing_entity_ids:
          anyOf:
          - items:
              type: string
              format: uuid
            type: array
          - type: 'null'
          title: Furnishing Entity Ids
          description: Optional furnishing-entity scope. When omitted or empty, data
            from all furnishers is considered.
        consent_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Consent Id
          description: "Consent token \u2014 system resolves identity + applies field\
            \ access filtering."
        consumer_identity_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Consumer Identity Id
          description: Consumer profile primary key (ConsumerIdentity.id) for permissible-purpose
            queries.
      type: object
      required:
      - network_ids
      title: BankSpecificBadActorListQueryInput
    BankSpecificBadActorListQueryOutput:
      properties:
        provenance_event_id:
          type: string
          format: uuid
          title: Provenance Event Id
        consumer_identity_id:
          type: string
          format: uuid
          title: Consumer Identity Id
        furnishing_entity_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Furnishing Entity Id
        is_listed:
          type: boolean
          title: Is Listed
        bad_actor_list_placement_date:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          title: Bad Actor List Placement Date
        bad_actor_list_reason_code:
          anyOf:
          - type: string
          - type: 'null'
          title: Bad Actor List Reason Code
      type: object
      required:
      - provenance_event_id
      - consumer_identity_id
      - is_listed
      title: BankSpecificBadActorListQueryOutput
    BiometricCaptureAssertions:
      properties:
        biometric_capture_assertion:
          type: boolean
          title: Biometric Capture Assertion
        biometric_capture_timestamp:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Biometric Capture Timestamp
      type: object
      required:
      - biometric_capture_assertion
      title: BiometricCaptureAssertions
    BiometricCaptureData:
      properties:
        biometric_artifact:
          anyOf:
          - type: string
          - type: 'null'
          title: Biometric Artifact
        biometric_capture_method:
          anyOf:
          - type: string
          - type: 'null'
          title: Biometric Capture Method
        biometric_artifact_subject_present:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Biometric Artifact Subject Present
      type: object
      title: BiometricCaptureData
    BiometricCaptureEventInput:
      properties:
        is_biometric_captured:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Is Biometric Captured
        biometric_capture_timestamp:
          anyOf:
          - type: string
          - type: 'null'
          title: Biometric Capture Timestamp
        biometric_artifact_type:
          anyOf:
          - type: string
          - type: 'null'
          title: Biometric Artifact Type
        biometric_artifact_upload:
          anyOf:
          - type: string
          - type: 'null'
          title: Biometric Artifact Upload
        biometric_capture_method:
          anyOf:
          - type: string
          - type: 'null'
          title: Biometric Capture Method
        is_biometric_attribute_reviewed:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Is Biometric Attribute Reviewed
        biometric_attribute_review_timestamp:
          anyOf:
          - type: string
          - type: 'null'
          title: Biometric Attribute Review Timestamp
        is_biometric_comparison_performed:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Is Biometric Comparison Performed
        biometric_comparison_reference:
          anyOf:
          - type: string
          - type: 'null'
          title: Biometric Comparison Reference
        biometric_comparison_outcome:
          anyOf:
          - type: string
          - type: 'null'
          title: Biometric Comparison Outcome
      additionalProperties: true
      type: object
      title: BiometricCaptureEventInput
    BiometricCaptureSubProduct:
      properties:
        furnishing_entity_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Furnishing Entity Id
        attestation_event_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Attestation Event Id
        assertions:
          $ref: '#/components/schemas/BiometricCaptureAssertions'
        data:
          $ref: '#/components/schemas/BiometricCaptureData'
      type: object
      required:
      - assertions
      - data
      title: BiometricCaptureSubProduct
    BiometricReviewAssertions:
      properties:
        biometric_review_assertion:
          type: boolean
          title: Biometric Review Assertion
        biometric_review_timestamp:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Biometric Review Timestamp
      type: object
      required:
      - biometric_review_assertion
      title: BiometricReviewAssertions
    BiometricReviewData:
      properties:
        is_biometric_comparison_performed:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Is Biometric Comparison Performed
        biometric_comparison_evidence_source:
          anyOf:
          - type: string
          - type: 'null'
          title: Biometric Comparison Evidence Source
        biometric_image_quality_sufficient_for_comparison:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Biometric Image Quality Sufficient For Comparison
        biometric_artifact_image_quality:
          anyOf:
          - type: string
          - type: 'null'
          title: Biometric Artifact Image Quality
        biometric_comparison_reference:
          anyOf:
          - type: string
          - type: 'null'
          title: Biometric Comparison Reference
        biometric_comparison_outcome:
          anyOf:
          - type: string
          - type: 'null'
          title: Biometric Comparison Outcome
      type: object
      title: BiometricReviewData
    BiometricReviewSubProduct:
      properties:
        furnishing_entity_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Furnishing Entity Id
        attestation_event_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Attestation Event Id
        assertions:
          $ref: '#/components/schemas/BiometricReviewAssertions'
        data:
          $ref: '#/components/schemas/BiometricReviewData'
      type: object
      required:
      - assertions
      - data
      title: BiometricReviewSubProduct
    BusinessAddressOutput:
      properties:
        line_1:
          anyOf:
          - type: string
          - type: 'null'
          title: Line 1
        line_2:
          anyOf:
          - type: string
          - type: 'null'
          title: Line 2
        city:
          anyOf:
          - type: string
          - type: 'null'
          title: City
        state:
          anyOf:
          - type: string
          - type: 'null'
          title: State
        zip:
          anyOf:
          - type: string
          - type: 'null'
          title: Zip
        country:
          anyOf:
          - type: string
          - type: 'null'
          title: Country
      type: object
      title: BusinessAddressOutput
    BusinessConsentEventIdentityInput:
      properties:
        business_dba_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Business Dba Name
        business_jurisdiction_of_formation:
          type: string
          title: Business Jurisdiction Of Formation
        business_legal_name:
          type: string
          title: Business Legal Name
        business_registration_identifier_from_jurisdiction_of_formation:
          type: string
          title: Business Registration Identifier From Jurisdiction Of Formation
        business_tax_identifier_type:
          anyOf:
          - type: string
          - type: 'null'
          title: Business Tax Identifier Type
        business_tax_identifier_value:
          anyOf:
          - type: string
          - type: 'null'
          title: Business Tax Identifier Value
        business_website_url:
          anyOf:
          - type: string
          - type: 'null'
          title: Business Website Url
      type: object
      required:
      - business_jurisdiction_of_formation
      - business_legal_name
      - business_registration_identifier_from_jurisdiction_of_formation
      title: BusinessConsentEventIdentityInput
    BusinessIdentitySearchResult:
      properties:
        id:
          type: string
          format: uuid
          title: Id
        identifier:
          type: string
          title: Identifier
        created_at:
          anyOf:
          - type: string
          - type: 'null'
          title: Created At
        updated_at:
          anyOf:
          - type: string
          - type: 'null'
          title: Updated At
        business_legal_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Business Legal Name
        business_dba_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Business Dba Name
        business_email:
          anyOf:
          - type: string
          - type: 'null'
          title: Business Email
        business_entity_type:
          anyOf:
          - type: string
          - type: 'null'
          title: Business Entity Type
        business_date_of_incorporation:
          anyOf:
          - type: string
          - type: 'null'
          title: Business Date Of Incorporation
        business_phone:
          anyOf:
          - type: string
          - type: 'null'
          title: Business Phone
        business_website_url:
          anyOf:
          - type: string
          - type: 'null'
          title: Business Website Url
        federal_ein:
          anyOf:
          - type: string
          - type: 'null'
          title: Federal Ein
        employee_count:
          anyOf:
          - type: string
            pattern: ^(?!^[-+.]*$)[+-]?0*\d*\.?\d*$
          - type: 'null'
          title: Employee Count
      type: object
      required:
      - id
      - identifier
      title: BusinessIdentitySearchResult
    BusinessIdentityVerificationAssertions:
      properties:
        business_identity_verification_assertion:
          type: boolean
          title: Business Identity Verification Assertion
        business_identity_verification_performed_timestamp:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Business Identity Verification Performed Timestamp
      type: object
      required:
      - business_identity_verification_assertion
      title: BusinessIdentityVerificationAssertions
    BusinessIdentityVerificationData:
      properties:
        business_formation_document_artifact:
          anyOf:
          - type: string
          - type: 'null'
          title: Business Formation Document Artifact
        business_dba_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Business Dba Name
        business_website_url:
          anyOf:
          - type: string
          - type: 'null'
          title: Business Website Url
        business_jurisdiction_of_formation:
          anyOf:
          - type: string
          - type: 'null'
          title: Business Jurisdiction Of Formation
        business_registration_identifier:
          anyOf:
          - type: string
          - type: 'null'
          title: Business Registration Identifier
        business_identity_verification_sources:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Business Identity Verification Sources
        business_entity_type:
          anyOf:
          - type: string
          - type: 'null'
          title: Business Entity Type
        business_registration_status:
          anyOf:
          - type: string
          - type: 'null'
          title: Business Registration Status
        business_operational_existence_status:
          anyOf:
          - type: string
          - type: 'null'
          title: Business Operational Existence Status
        business_tax_id_validation_result:
          anyOf:
          - type: string
          - type: 'null'
          title: Business Tax Id Validation Result
        business_address_verification_result:
          anyOf:
          - type: string
          - type: 'null'
          title: Business Address Verification Result
        business_registered_address:
          anyOf:
          - $ref: '#/components/schemas/BusinessAddressOutput'
          - type: 'null'
        business_operating_address:
          anyOf:
          - $ref: '#/components/schemas/BusinessAddressOutput'
          - type: 'null'
      type: object
      title: BusinessIdentityVerificationData
    BusinessIdentityVerificationEventInput:
      properties:
        is_identity_verified:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Is Identity Verified
        identity_verification_timestamp:
          anyOf:
          - type: string
          - type: 'null'
          title: Identity Verification Timestamp
        identity_verification_overall_status:
          anyOf:
          - type: string
          - type: 'null'
          title: Identity Verification Overall Status
        tax_id_validation_result:
          anyOf:
          - type: string
          - type: 'null'
          title: Tax Id Validation Result
        address_verification_result:
          anyOf:
          - type: string
          - type: 'null'
          title: Address Verification Result
        registration_status:
          anyOf:
          - type: string
          - type: 'null'
          title: Registration Status
        registration_identifier:
          anyOf:
          - type: string
          - type: 'null'
          title: Registration Identifier
        jurisdiction_of_formation:
          anyOf:
          - type: string
          - type: 'null'
          title: Jurisdiction Of Formation
        dba_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Dba Name
        website_url:
          anyOf:
          - type: string
          - type: 'null'
          title: Website Url
        formation_document_artifact:
          anyOf:
          - type: string
          - type: 'null'
          title: Formation Document Artifact
        operational_existence_status:
          anyOf:
          - type: string
          - type: 'null'
          title: Operational Existence Status
      additionalProperties: true
      type: object
      title: BusinessIdentityVerificationEventInput
    BusinessIdentityVerificationSubProduct:
      properties:
        furnishing_entity_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Furnishing Entity Id
        attestation_event_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Attestation Event Id
        assertions:
          $ref: '#/components/schemas/BusinessIdentityVerificationAssertions'
        data:
          $ref: '#/components/schemas/BusinessIdentityVerificationData'
      type: object
      required:
      - assertions
      - data
      title: BusinessIdentityVerificationSubProduct
    BusinessOwnershipControlVerificationAssertions:
      properties:
        business_ownership_control_verification_assertion:
          type: boolean
          title: Business Ownership Control Verification Assertion
        business_ownership_control_verification_timestamp:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Business Ownership Control Verification Timestamp
      type: object
      required:
      - business_ownership_control_verification_assertion
      title: BusinessOwnershipControlVerificationAssertions
    BusinessOwnershipControlVerificationData:
      properties:
        business_ownership_evidence_artifact:
          anyOf:
          - type: string
          - type: 'null'
          title: Business Ownership Evidence Artifact
        business_dba_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Business Dba Name
        business_website_url:
          anyOf:
          - type: string
          - type: 'null'
          title: Business Website Url
        business_jurisdiction_of_formation:
          anyOf:
          - type: string
          - type: 'null'
          title: Business Jurisdiction Of Formation
        business_registration_identifier:
          anyOf:
          - type: string
          - type: 'null'
          title: Business Registration Identifier
        business_ownership_control_verification_overall_primary_source:
          anyOf:
          - type: string
          - type: 'null'
          title: Business Ownership Control Verification Overall Primary Source
        business_authority_determination_basis:
          anyOf:
          - type: string
          - type: 'null'
          title: Business Authority Determination Basis
        business_authorized_representatives_identified_count:
          anyOf:
          - type: integer
          - type: 'null'
          title: Business Authorized Representatives Identified Count
        business_beneficial_owners_identified_count:
          anyOf:
          - type: integer
          - type: 'null'
          title: Business Beneficial Owners Identified Count
        business_beneficial_ownership_determination_method:
          anyOf:
          - type: string
          - type: 'null'
          title: Business Beneficial Ownership Determination Method
        business_beneficial_ownership_threshold_applied:
          anyOf:
          - type: string
          - type: 'null'
          title: Business Beneficial Ownership Threshold Applied
        business_control_authority_evidence_reviewed_type:
          anyOf:
          - type: string
          - type: 'null'
          title: Business Control Authority Evidence Reviewed Type
        business_control_determination_basis:
          anyOf:
          - type: string
          - type: 'null'
          title: Business Control Determination Basis
        business_control_persons_identified_count:
          anyOf:
          - type: integer
          - type: 'null'
          title: Business Control Persons Identified Count
        business_ownership_control_verification_overall_status:
          anyOf:
          - type: string
          - type: 'null'
          title: Business Ownership Control Verification Overall Status
        business_ownership_evidence_reviewed_type:
          anyOf:
          - type: string
          - type: 'null'
          title: Business Ownership Evidence Reviewed Type
      type: object
      title: BusinessOwnershipControlVerificationData
    BusinessOwnershipControlVerificationEventInput:
      properties:
        is_ownership_control_verified:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Is Ownership Control Verified
        ownership_control_verification_timestamp:
          anyOf:
          - type: string
          - type: 'null'
          title: Ownership Control Verification Timestamp
        ownership_control_verification_overall_status:
          anyOf:
          - type: string
          - type: 'null'
          title: Ownership Control Verification Overall Status
        ownership_control_verification_overall_primary_source:
          anyOf:
          - type: string
          - type: 'null'
          title: Ownership Control Verification Overall Primary Source
        beneficial_owners_identified_count:
          anyOf:
          - type: number
          - type: 'null'
          title: Beneficial Owners Identified Count
        control_persons_identified_count:
          anyOf:
          - type: number
          - type: 'null'
          title: Control Persons Identified Count
        authority_determination_basis:
          anyOf:
          - type: string
          - type: 'null'
          title: Authority Determination Basis
        ownership_evidence_artifact:
          anyOf:
          - type: string
          - type: 'null'
          title: Ownership Evidence Artifact
      additionalProperties: true
      type: object
      title: BusinessOwnershipControlVerificationEventInput
    BusinessOwnershipControlVerificationSubProduct:
      properties:
        furnishing_entity_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Furnishing Entity Id
        attestation_event_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Attestation Event Id
        assertions:
          $ref: '#/components/schemas/BusinessOwnershipControlVerificationAssertions'
        data:
          $ref: '#/components/schemas/BusinessOwnershipControlVerificationData'
      type: object
      required:
      - assertions
      - data
      title: BusinessOwnershipControlVerificationSubProduct
    BusinessRiskComplianceAssessmentAssertions:
      properties:
        business_risk_compliance_verification_assertion:
          type: boolean
          title: Business Risk Compliance Verification Assertion
        business_risk_compliance_timestamp:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Business Risk Compliance Timestamp
      type: object
      required:
      - business_risk_compliance_verification_assertion
      title: BusinessRiskComplianceAssessmentAssertions
    BusinessRiskComplianceAssessmentData:
      properties:
        business_dba_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Business Dba Name
        business_website_url:
          anyOf:
          - type: string
          - type: 'null'
          title: Business Website Url
        business_jurisdiction_of_formation:
          anyOf:
          - type: string
          - type: 'null'
          title: Business Jurisdiction Of Formation
        business_registration_identifier:
          anyOf:
          - type: string
          - type: 'null'
          title: Business Registration Identifier
        business_primary_activity_classification_code:
          anyOf:
          - type: string
          - type: 'null'
          title: Business Primary Activity Classification Code
        business_primary_activity_classification_system:
          anyOf:
          - type: string
          - type: 'null'
          title: Business Primary Activity Classification System
        business_activity_risk_level:
          anyOf:
          - type: string
          - type: 'null'
          title: Business Activity Risk Level
        business_adverse_media_assessment_result:
          anyOf:
          - type: string
          - type: 'null'
          title: Business Adverse Media Assessment Result
        business_compliance_screening_scope_applied:
          anyOf:
          - type: string
          - type: 'null'
          title: Business Compliance Screening Scope Applied
        business_restricted_activity_assessment_result:
          anyOf:
          - type: string
          - type: 'null'
          title: Business Restricted Activity Assessment Result
        business_risk_compliance_assessment_overall_primary_source:
          anyOf:
          - type: string
          - type: 'null'
          title: Business Risk Compliance Assessment Overall Primary Source
        business_risk_compliance_assessment_overall_status:
          anyOf:
          - type: string
          - type: 'null'
          title: Business Risk Compliance Assessment Overall Status
        business_risk_compliance_assessment_timestamp:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Business Risk Compliance Assessment Timestamp
        business_sanctions_screening_result:
          anyOf:
          - type: string
          - type: 'null'
          title: Business Sanctions Screening Result
      type: object
      title: BusinessRiskComplianceAssessmentData
    BusinessRiskComplianceAssessmentSubProduct:
      properties:
        furnishing_entity_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Furnishing Entity Id
        attestation_event_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Attestation Event Id
        assertions:
          $ref: '#/components/schemas/BusinessRiskComplianceAssessmentAssertions'
        data:
          $ref: '#/components/schemas/BusinessRiskComplianceAssessmentData'
      type: object
      required:
      - assertions
      - data
      title: BusinessRiskComplianceAssessmentSubProduct
    BusinessRiskComplianceEventInput:
      properties:
        is_risk_compliance_assessed:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Is Risk Compliance Assessed
        risk_compliance_assessment_timestamp:
          anyOf:
          - type: string
          - type: 'null'
          title: Risk Compliance Assessment Timestamp
        risk_compliance_assessment_overall_status:
          anyOf:
          - type: string
          - type: 'null'
          title: Risk Compliance Assessment Overall Status
        sanctions_screening_result:
          anyOf:
          - type: string
          - type: 'null'
          title: Sanctions Screening Result
        adverse_media_assessment_result:
          anyOf:
          - type: string
          - type: 'null'
          title: Adverse Media Assessment Result
        activity_risk_level:
          anyOf:
          - type: string
          - type: 'null'
          title: Activity Risk Level
        primary_activity_classification_code:
          anyOf:
          - type: string
          - type: 'null'
          title: Primary Activity Classification Code
        primary_activity_classification_system:
          anyOf:
          - type: string
          - type: 'null'
          title: Primary Activity Classification System
      additionalProperties: true
      type: object
      title: BusinessRiskComplianceEventInput
    ConsentBusinessIdentityCreateInput:
      properties:
        did_gather_consent_from_business_prior:
          type: boolean
          title: Did Gather Consent From Business Prior
        business_consent_event_identity:
          $ref: '#/components/schemas/BusinessConsentEventIdentityInput'
        identity:
          $ref: '#/components/schemas/IdentityInput'
      type: object
      required:
      - did_gather_consent_from_business_prior
      - business_consent_event_identity
      - identity
      title: ConsentBusinessIdentityCreateInput
      description: Create a business consent record (direct, server-to-server). Returns
        a consent_id used for all subsequent queries.
    ConsentBusinessIdentityCreateOutput:
      properties:
        consent_id:
          type: string
          title: Consent Id
        consented_fields:
          type: string
          title: Consented Fields
        created_at:
          type: string
          title: Created At
        events:
          type: string
          title: Events
        scope:
          type: string
          title: Scope
      type: object
      required:
      - consent_id
      - consented_fields
      - created_at
      - events
      - scope
      title: ConsentBusinessIdentityCreateOutput
      description: Create a business consent record (direct, server-to-server). Returns
        a consent_id used for all subsequent queries.
    ConsentConsumerIdentityCreateInput:
      properties:
        network_id:
          type: string
          format: uuid
          title: Network Id
        did_gather_consent_from_consumer_prior:
          type: boolean
          title: Did Gather Consent From Consumer Prior
        consumer_consent_event_identity:
          $ref: '#/components/schemas/ConsumerConsentEventIdentityInput'
        consumer_identity_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Consumer Identity Id
      type: object
      required:
      - network_id
      - did_gather_consent_from_consumer_prior
      - consumer_consent_event_identity
      title: ConsentConsumerIdentityCreateInput
      description: Create a consumer consent record (direct, server-to-server). Returns
        a consent_id used for all subsequent queries.
    ConsentConsumerIdentityCreateOutput:
      properties:
        consent_id:
          type: string
          title: Consent Id
        model_access_grants:
          items:
            $ref: '#/components/schemas/ModelAccessGrantOutput'
          type: array
          title: Model Access Grants
        created_at:
          type: string
          title: Created At
        events:
          type: string
          title: Events
        scope:
          type: string
          title: Scope
        expires_at:
          anyOf:
          - type: string
          - type: 'null'
          title: Expires At
        consented_fields:
          anyOf:
          - type: string
          - type: 'null'
          title: Consented Fields
      type: object
      required:
      - consent_id
      - model_access_grants
      - created_at
      - events
      - scope
      title: ConsentConsumerIdentityCreateOutput
      description: Create a consumer consent record (direct, server-to-server). Returns
        a consent_id used for all subsequent queries.
    ConsentConsumerIdentityUpdateInput:
      properties:
        network_id:
          type: string
          format: uuid
          title: Network Id
        scope:
          anyOf:
          - type: string
          - type: 'null'
          title: Scope
        expires_at:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Expires At
        consented_fields:
          anyOf:
          - type: string
          - type: 'null'
          title: Consented Fields
      type: object
      required:
      - network_id
      title: ConsentConsumerIdentityUpdateInput
      description: 'Update a consumer consent record (scope, expiry, or consented
        fields).


        Identity fields are immutable: a consent record is an audit artifact of

        who consented and when. To consent with different identity data, create

        a new consent record instead.'
    ConsumerConsentEventIdentityInput:
      properties:
        date_of_birth:
          type: string
          format: date-time
          title: Date Of Birth
        first_name:
          type: string
          title: First Name
        last_name:
          type: string
          title: Last Name
        personal_email:
          type: string
          title: Personal Email
        phone_number:
          type: string
          title: Phone Number
        social_security_number:
          type: string
          title: Social Security Number
      type: object
      required:
      - date_of_birth
      - first_name
      - last_name
      - personal_email
      - phone_number
      - social_security_number
      title: ConsumerConsentEventIdentityInput
    ConsumerIdentitySearchResult:
      properties:
        id:
          type: string
          format: uuid
          title: Id
        identifier:
          type: string
          title: Identifier
        created_at:
          anyOf:
          - type: string
          - type: 'null'
          title: Created At
        updated_at:
          anyOf:
          - type: string
          - type: 'null'
          title: Updated At
        first_name:
          anyOf:
          - type: string
          - type: 'null'
          title: First Name
        last_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Last Name
        personal_email:
          anyOf:
          - type: string
          - type: 'null'
          title: Personal Email
        date_of_birth:
          anyOf:
          - type: string
          - type: 'null'
          title: Date Of Birth
        social_security_number:
          anyOf:
          - type: string
          - type: 'null'
          title: Social Security Number
      type: object
      required:
      - id
      - identifier
      title: ConsumerIdentitySearchResult
    CoverageCheckEntityOutput:
      properties:
        furnishing_entity_id:
          type: string
          format: uuid
          title: Furnishing Entity Id
        furnishing_entity_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Furnishing Entity Name
        network_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Network Id
        complete:
          type: boolean
          title: Complete
        hit:
          type: boolean
          title: Hit
          description: Whether the furnisher has any data for the checked product.
          default: false
        models:
          items:
            $ref: '#/components/schemas/CoverageCheckModelOutput'
          type: array
          title: Models
      type: object
      required:
      - furnishing_entity_id
      - complete
      - models
      title: CoverageCheckEntityOutput
    CoverageCheckFieldOutput:
      properties:
        field_name:
          type: string
          title: Field Name
        met:
          type: boolean
          title: Met
          description: Whether the furnisher furnished a non-empty value.
          default: false
        consented:
          type: boolean
          title: Consented
          description: Whether the subject's consent covers this field.
          default: false
        consent_governed:
          type: boolean
          title: Consent Governed
          description: Whether a subject consent can grant this field's model (vs
            operational/audit data).
          default: true
      type: object
      required:
      - field_name
      title: CoverageCheckFieldOutput
    CoverageCheckInput:
      properties:
        policy_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Policy Id
          description: Querying policy applied across every network in network_ids.
            If omitted, each network's default policy is used.
        network_ids:
          items:
            type: string
            format: uuid
          type: array
          minItems: 1
          title: Network Ids
          description: Networks to query across; the single policy is applied to all
            of them.
        furnishing_entity_ids:
          anyOf:
          - items:
              type: string
              format: uuid
            type: array
          - type: 'null'
          title: Furnishing Entity Ids
          description: Optional furnishing-entity scope. When omitted or empty, data
            from all furnishers is considered.
        product_id:
          type: string
          format: uuid
          title: Product Id
          description: Product to coverage-check.
        consent_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Consent Id
          description: "Consent token \u2014 system resolves identity."
        consumer_identity_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Consumer Identity Id
          description: Consumer profile primary key (ConsumerIdentity.id).
        business_identity_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Business Identity Id
          description: Business profile primary key (BusinessIdentity.id).
      type: object
      required:
      - network_ids
      - product_id
      title: CoverageCheckInput
    CoverageCheckModelOutput:
      properties:
        model_name:
          type: string
          title: Model Name
        met_count:
          type: integer
          title: Met Count
          description: Fields with furnished data (found).
          default: 0
        consented_count:
          type: integer
          title: Consented Count
          description: Fields covered by the subject's consent.
          default: 0
        total_count:
          type: integer
          title: Total Count
        hit:
          type: boolean
          title: Hit
          description: Whether the furnisher has any row for this model at all.
          default: false
        fields:
          items:
            $ref: '#/components/schemas/CoverageCheckFieldOutput'
          type: array
          title: Fields
      type: object
      required:
      - model_name
      - total_count
      - fields
      title: CoverageCheckModelOutput
    CoverageCheckOutput:
      properties:
        product_id:
          type: string
          format: uuid
          title: Product Id
        consumer_identity_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Consumer Identity Id
        business_identity_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Business Identity Id
        entities:
          items:
            $ref: '#/components/schemas/CoverageCheckEntityOutput'
          type: array
          title: Entities
      type: object
      required:
      - product_id
      - entities
      title: CoverageCheckOutput
    CreatePolicyInput:
      properties:
        network_id:
          type: string
          format: uuid
          title: Network Id
        name:
          type: string
          title: Name
      type: object
      required:
      - network_id
      - name
      title: CreatePolicyInput
      description: "Body of ``POST /networks/policies/querying``.\n\nA policy is network-wide,\
        \ so the contract carries only the network id\nand a display name. Per-model\
        \ / per-field selections \u2014 which may span\nany product's models \u2014\
        \ are authored separately via the wizard's\n``PUT /networks/policies/querying/{policy_id}/configuration``\
        \ route,\nso this payload intentionally has no nested ``models`` list."
    CreatePolicyResult:
      properties:
        id:
          type: string
          format: uuid
          title: Id
        network_id:
          type: string
          format: uuid
          title: Network Id
        entity_id:
          type: string
          format: uuid
          title: Entity Id
        name:
          type: string
          title: Name
        is_default:
          type: boolean
          title: Is Default
      type: object
      required:
      - id
      - network_id
      - entity_id
      - name
      - is_default
      title: CreatePolicyResult
    CrossBankFinancialCrimesWatchListQueryInput:
      properties:
        policy_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Policy Id
          description: Querying policy applied across every network in network_ids.
            If omitted, each network's default policy is used.
        network_ids:
          items:
            type: string
            format: uuid
          type: array
          minItems: 1
          title: Network Ids
          description: Networks to query across; the single policy is applied to all
            of them.
        furnishing_entity_ids:
          anyOf:
          - items:
              type: string
              format: uuid
            type: array
          - type: 'null'
          title: Furnishing Entity Ids
          description: Optional furnishing-entity scope. When omitted or empty, data
            from all furnishers is considered.
        consent_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Consent Id
          description: "Consent token \u2014 system resolves identity + applies field\
            \ access filtering."
        consumer_identity_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Consumer Identity Id
          description: Consumer profile primary key (ConsumerIdentity.id) for permissible-purpose
            queries.
      type: object
      required:
      - network_ids
      title: CrossBankFinancialCrimesWatchListQueryInput
    CrossBankFinancialCrimesWatchListQueryOutput:
      properties:
        provenance_event_id:
          type: string
          format: uuid
          title: Provenance Event Id
        consumer_identity_id:
          type: string
          format: uuid
          title: Consumer Identity Id
        furnishing_entity_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Furnishing Entity Id
        is_listed:
          type: boolean
          title: Is Listed
        entity_level_adverse_action_eligible_indicator:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Entity Level Adverse Action Eligible Indicator
        watch_list_placement_date:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          title: Watch List Placement Date
      type: object
      required:
      - provenance_event_id
      - consumer_identity_id
      - is_listed
      title: CrossBankFinancialCrimesWatchListQueryOutput
    DocumentCaptureAssertions:
      properties:
        document_capture_assertion:
          type: boolean
          title: Document Capture Assertion
        document_capture_timestamp:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Document Capture Timestamp
      type: object
      required:
      - document_capture_assertion
      title: DocumentCaptureAssertions
    DocumentCaptureData:
      properties:
        document_artifact:
          anyOf:
          - type: string
          - type: 'null'
          title: Document Artifact
        document_type:
          anyOf:
          - type: string
          - type: 'null'
          title: Document Type
        document_issuing_state:
          anyOf:
          - type: string
          - type: 'null'
          title: Document Issuing State
        document_number:
          anyOf:
          - type: string
          - type: 'null'
          title: Document Number
        document_issue_date:
          anyOf:
          - type: string
          - type: 'null'
          title: Document Issue Date
        document_expiration_date:
          anyOf:
          - type: string
          - type: 'null'
          title: Document Expiration Date
        document_capture_method:
          anyOf:
          - type: string
          - type: 'null'
          title: Document Capture Method
      type: object
      title: DocumentCaptureData
    DocumentCaptureEventInput:
      properties:
        is_document_captured:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Is Document Captured
        document_capture_timestamp:
          anyOf:
          - type: string
          - type: 'null'
          title: Document Capture Timestamp
        is_document_attribute_reviewed:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Is Document Attribute Reviewed
        document_attribute_review_timestamp:
          anyOf:
          - type: string
          - type: 'null'
          title: Document Attribute Review Timestamp
        document_type:
          anyOf:
          - type: string
          - type: 'null'
          title: Document Type
        document_capture_method:
          anyOf:
          - type: string
          - type: 'null'
          title: Document Capture Method
        document_review_method:
          anyOf:
          - type: string
          - type: 'null'
          title: Document Review Method
        document_review_evidence_source:
          anyOf:
          - type: string
          - type: 'null'
          title: Document Review Evidence Source
      additionalProperties: true
      type: object
      title: DocumentCaptureEventInput
    DocumentCaptureSubProduct:
      properties:
        furnishing_entity_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Furnishing Entity Id
        attestation_event_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Attestation Event Id
        assertions:
          $ref: '#/components/schemas/DocumentCaptureAssertions'
        data:
          $ref: '#/components/schemas/DocumentCaptureData'
      type: object
      required:
      - assertions
      - data
      title: DocumentCaptureSubProduct
    DocumentReviewAssertions:
      properties:
        document_attribute_review_assertion:
          type: boolean
          title: Document Attribute Review Assertion
        document_attribute_review_timestamp:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Document Attribute Review Timestamp
      type: object
      required:
      - document_attribute_review_assertion
      title: DocumentReviewAssertions
    DocumentReviewData:
      properties:
        document_review_method:
          anyOf:
          - type: string
          - type: 'null'
          title: Document Review Method
        document_review_evidence_source:
          anyOf:
          - type: string
          - type: 'null'
          title: Document Review Evidence Source
        document_tamper_review_performed:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Document Tamper Review Performed
        document_tamper_indicators_observed:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Document Tamper Indicators Observed
        is_document_machine_readable_data_validation_performed:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Is Document Machine Readable Data Validation Performed
        is_document_machine_readable_data_validation_consistent_with_document_face:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Is Document Machine Readable Data Validation Consistent With Document
            Face
      type: object
      title: DocumentReviewData
    DocumentReviewSubProduct:
      properties:
        furnishing_entity_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Furnishing Entity Id
        attestation_event_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Attestation Event Id
        assertions:
          $ref: '#/components/schemas/DocumentReviewAssertions'
        data:
          $ref: '#/components/schemas/DocumentReviewData'
      type: object
      required:
      - assertions
      - data
      title: DocumentReviewSubProduct
    FieldSelectionInput:
      properties:
        field_name:
          type: string
          title: Field Name
        is_enabled:
          type: boolean
          title: Is Enabled
        selected_provenance_option_ids:
          items:
            type: string
            format: uuid
          type: array
          title: Selected Provenance Option Ids
        boolean_choice:
          anyOf:
          - type: string
          - type: 'null'
          title: Boolean Choice
        data_type:
          anyOf:
          - type: string
          - type: 'null'
          title: Data Type
      type: object
      required:
      - field_name
      - is_enabled
      - selected_provenance_option_ids
      title: FieldSelectionInput
      description: One row of the wizard's per-field configuration.
    GraphFieldSchema:
      properties:
        name:
          type: string
          title: Name
          description: Field name, camelCase as the graph exposes it
        type:
          type: string
          title: Type
          description: GraphQL type name of the field
        is_list:
          type: boolean
          title: Is List
          description: Whether the field holds many values
          default: false
        is_required:
          type: boolean
          title: Is Required
          description: Whether the graph guarantees a value
          default: false
        target_model:
          anyOf:
          - type: string
          - type: 'null'
          title: Target Model
          description: Model this field points at, for relationships
      type: object
      required:
      - name
      - type
      title: GraphFieldSchema
      description: One field of a graph model, as served over REST.
    GraphModelSchema:
      properties:
        name:
          type: string
          title: Name
          description: Model name, e.g. ``AddressIdentity``
        resource:
          type: string
          title: Resource
          description: Path segment for this model, e.g. ``address-identities``
        listable:
          type: boolean
          title: Listable
          description: Whether the collection endpoint serves this model. Models reachable
            only through a relationship are fetched by id or via ``expand``.
        fields:
          items:
[...]
